.product-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  column-gap: $column-gap;
  row-gap: 50px;

  justify-content: center;
  max-width: 4 * $card-width + $column-gap * 3;

  @include product-row-fonts;
}
